body {
    font-family: source-sans-pro, sans-serif;
    margin: 0;
}

h1 {
    font-family: ovo, serif;
    margin: 0;
}

h2 {
    
}

#languages {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
}

.element {
    margin-top: 20px;
}

#top {
    margin-top: 0;
    font-style: bold;
}

.language {
    float: left;
    width: 50%;
}

.experience {
    float: right;
    text-align: right;
    width: 50%
}

#experience {
    float: right;
    width: 50%;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20%;
}